@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to TonyBricks</h1>
    <p class="lead">TonyBricks is a great new way to sell your property, or find the next perfect place for you.</p>
    <p><a href="https://www.purplebricks.com/" class="btn btn-primary btn-lg">Learn more from the real deal at PurpleBricks &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting Started</h2>
        <p>
            TonyBricks give you an easy-to-use, always available portal to managing your own home sale or purchase, backed up by experienced professionals, at a fraction of the price of a traditional Estate Agent.
        </p>
        <p><a class="btn btn-default" href="https://www.purplebricks.com">How it works &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Save Money</h2>
        <p>By automating pretty much everything, we cut out the middle man and pass on the savings directly to you.  It's quite clever.</p>
        <p><a class="btn btn-default" href="https://www.purplebricks.com">Find out how much you could save &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Maximum Reach</h2>
        <p>Your property could be viewed by over 10 million potential buyers on hundreds of websites.</p>
        <p><a class="btn btn-default" href="https://www.purplebricks.com">Learn more &raquo;</a></p>
    </div>
</div>